@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.text-purple {
    color: #6f42c1;
}

.bg-dark-custom {
    background-color: #121212 !important;
}

.text-light-custom {
    color: #e0e0e0 !important;
}

.form-control-dark {
    background-color: #1b1b1b;
    color: #fff;
    border: 1px solid #495057;
}

.form-control-dark::placeholder {
    color: #6c757d;
}

.img-logo {
    width: 100px;
    height: auto;
    transition: transform .6s;
}

.img-logo:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.img2 {
    margin-left: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.col-md-4 {
    margin-bottom: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #0f0f0f;
    border-radius: 8px;
    border: 0px;
    transition: transform .4s;
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.2);
}

.card:hover {
    transform: scale(1.04);
}

.card-title {
    color: white;
}

.card-price {
    font-weight: bold;
    margin: 0;
}

.card-text {
    margin: 0;
}

.last-card {
    margin-bottom: 20px;
}

.btn {
    border: 2px solid #E32652;
    transition: .3s;
    color: #e5e8ee;
    border-radius: 6px;
}

.btn2 {
    background-color: #121212;
    border: 1px solid #E32652;
    transition: .3s;
    color: #e5e8ee;
    border-radius: 6px;
}

.btn:hover {
    color: #e5e8ee;
    background-color: #E32652;
}

.manage-course {
    margin-right: 8px;
}

.btn:hover .fa-solid {
    color: #e5e8ee;
}

.watch {
    background-color: #E32652;
    border: 0px;
    font-weight: bold;
    color: #e5e8ee;
    width: auto;
    align-self: flex-start;
}

.nav-link {
    margin-left: 20px;
}

.hello-user {
    font-weight: bold;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #121212;
    border: 1px solid #E32652;
    color: #E32652;
}

.hello-user i {
    margin-right: 5px;
    color: #E32652;
}

footer {
    border-top: 1px solid #E32652;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #E32652;
}

footer a:hover {
    color: #E32652;
    text-decoration: none;
}
