@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 500px;
    padding: 20px;
    background-color: #121212;
    border-radius: 8px;
}

h1 {
    color: #E32652;
    margin-bottom: 40px; /* Reduzi o espaçamento inferior */
    text-align: center;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #e5e8ee;
    transition: 0.3s ease all;
    pointer-events: none;
}

.form-group input,
.form-group textarea {
    width: 100%; /* Ajusta a largura para ocupar o container */
    padding: 10px 10px 10px 10px;
    background-color: #121212;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #e5e8ee;
    color: #e5e8ee;
    outline: none;
    transition: 0.8s ease all;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    box-shadow: none;
}

/* Mantém o estilo de foco customizado */
.form-group input:focus,
.form-group textarea:focus,
.form-group input:not(:placeholder-shown),
.form-group textarea:not(:placeholder-shown) {
    border-bottom: 2px solid #E32652;
    background-color: #121212;
    color: #e5e8ee;
    outline: none;
}

.form-group input:focus ~ label,
.form-group textarea:focus ~ label,
.form-group input:not(:placeholder-shown) ~ label,
.form-group textarea:not(:placeholder-shown) ~ label {
    top: -10px;
    font-size: 12px;
    color: #E32652;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: transparent;
}

.btn-primary {
    border: 1px solid #E32652;
    border-radius: 6px;
    outline: none;
    height: 45px;
    background: #121212;
    transition: 0.4s;
    color: #fff;
    width: 100%;
    cursor: pointer;
}

.btn-primary:hover {
    border: 0px;
    background: #E32652;
}
