<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseHaven</title>
    <link rel="icon" href="https://i.ibb.co/N6VG66D/ICON.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-home.css}">
</head>
<body class="bg-dark-custom text-light-custom">

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a href="/home">
                <img src="https://i.ibb.co/2YFZddc/Sem-T-tulo-2.png" alt="Logo" class="d-inline-block align-text-top img-logo">
            </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active text-light-custom" aria-current="page" href="/home">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light-custom hello-user" th:if="${firstName != null}">
                            <i class="fa-solid fa-user"></i> <span th:utext="|Hello, ${firstName} ${lastName}!|"></span>
                        </a>                        
                        <a class="nav-link text-light-custom" th:if="${firstName == null}" href="/signin">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a href="/signup" th:if="${firstName == null}" class="btn btn2">Sign up</a>
                    </li>  
                    <li class="nav-item">
                        <a href="/teacher/management" th:if="${userRole == 'ROLE_TEACHER'}" class="btn manage-course"><i class="fa-solid fa-screwdriver-wrench"></i> Manage Courses</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" th:if="${firstName != null}" class="btn"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                    </li>                                      
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4" th:each="course : ${courses}">
                <div class="card mb-4">
                    <video class="card-img-top" controls>
                        <source th:src="@{${course.demoVideo}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${course.title}">Course Name</h5>
                        <p class="card-text" th:text="${course.description}">Course Description</p>
                        <p class="card-text"><strong th:text="'Language: '"></strong><span th:text="${course.language.name}"></span></p>
                        <p class="card-text"><strong th:text="'Category: '"></strong><span th:text="${course.category}"></span></p>
                        <p class="card-text"><strong th:text="'Lessons: '"></strong><span th:text="${course.lessonCount}"></span></p>
                        <p class="card-text last-card"><strong th:text="'Teacher: '"></strong><span th:text="${course.createdBy.firstName} + ' ' + ${course.createdBy.lastName}"></span></p>
                        <a href="#" class="btn watch">Watch now</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <footer class="bg-dark-custom text-light-custom py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>CourseHaven</h5>
                    <p>Explore a wide range of courses and enhance your skills with our expert instructors.</p>
                    <img src="https://i.ibb.co/2YFZddc/Sem-T-tulo-2.png" alt="Logo" class="img-logo">
                </div>
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/home" class="text-light-custom">Home</a></li>
                        <li><a href="/signup" class="text-light-custom">Sign Up</a></li>
                        <li><a href="/signin" class="text-light-custom">Sign In</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <div class="d-flex">
                        <a href="#" class="text-light-custom mr-3"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="#" class="text-light-custom mr-3"><i class="fab fa-twitter fa-2x"></i></a>
                        <a href="#" class="text-light-custom"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <p>&copy; 2024 CourseHaven. All Rights Reserved.</p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
